@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./variables.css";
@import "./css/atomic/atoms/button.css";
@import "./css/atomic/molecules/form.css";
@import "./css/atomic/atoms/input.css";
@import "./css/atomic/molecules/dropdown.css";
@import "./css/atomic/organisms/nav.css";
@import "./css/atomic/organisms/content.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}



.criar-p {
  text-align: center;
  color: #fff;
  max-width: 80%;
}
.criar-termos {
  text-align: center;
  color: #fff;
  max-width: 80%;
  font-size: 10px;
}
@media (max-height: 667px), (min-width: 360px) {
  .form {
    gap: 10px;
  }
  .logo {
    width: 250px;
    margin: 20px;
  }
  .logo-criacao {
    gap: 0px;
  }
  .container-checkbox {
    gap: 0px;
  }
  .form {
    width: 90%;
  }
  .form-redefinir {
    width: 90%;
  }
}
