.button {
  border: none;
  background-color: #fff;
  min-width: 100%;
  font-size: 20px;
  min-height: 43px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.btn-entrar {
  display: flex;
  justify-content: center;
  border: none;
  background-color: #fff;
  min-width: 100%;
  font-size: 20px;
  min-height: 43px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.button-criacao {
  min-width: 100%;
}
.button-search {
  position: absolute;
  top: 22px;
  left: 73vw;
  color: var(--hover-dropdown-li);
  border: none;
  border-radius: 50%;
  min-width: 32px;
  justify-content: center;
  min-height: 32px;
  font-size: 10px;
  outline: none;
  background: none;
}
.button-search:hover {
  background-color: gray;
}
.btn-redefinir:hover {
  background-color: #00baf5;
}
