.info-box {
    background-color: #1A203E;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    font-size: 14px;
    color: #a0a4b8;
}
.info-box h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.info-box ul {
    list-style-position: inside;
    padding-left: 5px;
}
.info-box ul li {
    margin-bottom: 10px;
    line-height: 1.5;
}
