.input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffffff; /* Linha de fundo */
    color: #fff;
    font-size: 16px;
    padding: 10px 40px 10px 5px; /* Espaço à direita para o ícone */
    font-family: 'Poppins', sans-serif;
    transition: border-color 0.3s ease;
}

.input-search {
  width: 40vw;
  font-size: 20px;
  background-color: #c0bdbd;
  padding: 20px;
}
